/* Slick styling and layout fixes */
.usa-header {
  min-height: 100px;
  @include media($small-screen) {
    min-height: 125px;
  }
  @include media($medium-screen) {
    min-height: 150px;
  }
}
.usa-logo {
  clear: both;
  @include media($nav-width) {
    clear: none;
  }
}
.slick-arrow,
.slick-arrow:hover {
  line-height: 0;
  font-size: 0;
  margin: -40px 0 0 0;
  padding: 20px;
  background: none;
  width: auto;
}
.slick-next {
  right: 10px;
}
.slick-prev {
  left: 10px;
}

/* Styling for breadcrumbs */
.usa-breadcrumbs {
  .usa-nav-secondary-links {
    margin-top: 0;
  }
}

/* Styling for the top-right shopping cart block. */
.block-commerce-cart {
  position: absolute;
  left: 0px;

  .cart-block--link__expand {
    text-decoration: none;
    display: inline-block;
  }

  .cart-block--summary__icon {
    margin-right: 10px;

    img {
      padding: 4px 10px;
      background-color: $color-primary;
    }
  }
  .cart-block--summary__count {
    color: $color-gray;
    font-size: 1.5rem;
  }
  @include media($nav-width) {
    float: right;
    position: static;

    .cart-block--summary__icon {
      margin-left: 10px;
      margin-right: 0px;
      float: right;
    }

    .cart-block--summary__count {
      float: left;
      margin-top: 10px;
    }
  }
}

/* Styling of the add-to-cart forms on product pages */
.field--name-variations {
  .field--name-quantity {
    max-width: 4em;
    margin-top: 0 !important;
    float: left;
    margin-right: 20px;
    label {
      margin-top: 0.5em;
      font-weight: normal;
    }
  }
  .form-actions {
    padding-top: 0.4em;
  }
}

/* Styling of the AJAX throbber that Drupal uses. */
.ajax-progress-throbber .throbber {
  padding-right: 7px;
}

/* Styling of the product variation info that gets replaced by AJAX. */
.product--variation--selected-info {
  background-image: none;
  margin-top: 0;
}

/* Styling of the rendered attributes on some product pages. */
.product--rendered-attribute {
  .form-item {
    width: 100px;
    margin-top: 15px;
    vertical-align: top;
    /* Customize the position of the AJAX throbber. */
    position: relative;
    .ajax-progress-throbber {
      position: absolute;
      top: 30%;
      left: 30%;
      .message {
        display: none;
      }
    }
  }
  label {
    margin-top: 0;
    padding: 8px;
    border: 1px solid transparent;

    &:before {
      display: none !important;
    }
  }
}
.product--rendered-attribute__selected ~ label.option {
  border-color: $color-black;
}
.product-type--paint_pigments {
  .product--rendered-attribute {
    .form-item {
      width: 150px;
    }
  }
}

/* Styling of the "Size" attribute on product pages */
.form-item-purchased-entity-0-attributes-attribute-size {
  display: inline-block;
  margin-right: 40px;
  position: relative;
  .ajax-progress-throbber {
    position: absolute;
    top: 5px;
    left: -8px;
    .message {
      display: none;
    }
  }
}

/* Other miscellaneous styling of product pages */
.product--full {
  .field--name-field-image {
    padding-bottom: 3rem;
  }
}

/* Styling of paragraph entities */
.paragraph:not(.usa-hero):not(.paragraph--type--uswds-accordion-item),
.paragraph.usa-section {
  padding-top: 0;
  padding-bottom: 3rem;
}

/* Styling of footer */
.usa-footer-contact-links {
  padding-top: 40px;
}

/* Things that may need to go into USWDS Paragraphs contrib? */
.field--name-field-uswds-body > :first-child {
  margin-top: 0;
}

/* Styling of the cart form */
.view-commerce-cart-form {
  form {
    max-width: none;

    .order-total-line {
      text-align: left;
    }
  }
}

/* Styling of checkout forms */
.commerce-checkout-flow {
  max-width: none;
}

/* Styling of the USWDS media blocks (graphic lists) */
.usa-media_block-img {
  max-width: 50%;
  height: auto;
}

/* Styling of heroes */
.usa-hero {
  .usa-section-dark {
    h2 {
      color: $color-white;
    }
  }
  .usa-hero-callout:empty {
    display: none;
  }
}

/* Styling of blog listing */
.node--type-article.node--view-mode-teaser {
  .field--name-field-image {
    float: left;
    margin-right: 3rem;
  }
}

/* Styling of embedded media */
.embedded-entity {
  margin-left: 0;
  margin-right: 0;
  &.align-left {
    margin-right: 40px;
  }
  &.align-right {
    margin-left: 40px;
  }
}

/* Styling of article nodes */
.field--name-field-tags {
  margin-bottom: 20px;

  .field__item {
    display: inline-block;
    margin-right: 20px;
    a {
      @extend .usa-label;
    }
  }
}

/* Override of USWDS styling to use "general" instead of "adjacent" sibling selectors.
 * Testing this here before creating a pull request on the 18F web-design-standards repo.
 * TODO: An alternative would be to make sure Drupal (or Commerce?) doesn't add
 * elements in between the input and the label.
 */
[type=checkbox] ~ label,
[type=radio] ~ label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0.65em;
}

[type=checkbox] ~ label::before,
[type=radio] ~ label::before {
  background: $color-white;
  border-radius: $checkbox-border-radius;
  box-shadow: 0 0 0 1px $color-gray-medium;
  content: '\a0';
  display: inline-block;
  height: $spacing-medium;
  line-height: $spacing-medium;
  margin-right: 0.6em;
  text-indent: 0.15em;
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
  width: $spacing-medium;
}

[type=radio] ~ label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $color-gray-medium;
  height: 1.4rem; // Size overrides to account for shape + checked styling
  line-height: 1.4rem;
  margin-right: 0.75em;
  width: 1.4rem;
}

[type=checkbox]:checked ~ label::before,
[type=radio]:checked ~ label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
}

[type=radio]:checked ~ label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-primary;
}

[type=checkbox]:checked ~ label::before,
[type=checkbox]:checked:disabled ~ label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-image: url('#{$image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

[type=radio]:focus ~ label::before {
  outline: $focus-outline;
  outline-offset: $focus-spacing * 2; // Double the offset to account for circular shape
}

[type=checkbox]:disabled ~ label {
  color: $color-gray-lighter;
}

[type=checkbox]:focus ~ label::before {
  outline: $focus-outline;
  outline-offset: $focus-spacing;
}

[type=checkbox]:disabled ~ label::before,
[type=radio]:disabled ~ label::before {
  background: $color-gray-lightest;
  box-shadow: 0 0 0 1px $color-gray-light;
  cursor: not-allowed;
}
