.block-commerce-cart {
  float: left;

  .cart-block--link__expand {
    text-decoration: none;
    display: inline-block;
  }

  .cart-block--summary__icon {
    margin-right: 10px;

    img {
      padding: 4px 10px;
      background-color: $color-primary;
    }
  }
  .cart-block--summary__count {
    color: $color-gray;
    font-size: 1.5rem;
  }

  @include media($medium-screen) {
    float: right;

    .cart-block--summary__icon {
      margin-left: 10px;
      margin-right: 0px;
      float: right;
    }

    .cart-block--summary__count {
      float: left;
      margin-top: 10px;
    }
  }
}

.ajax-progress-throbber {
  float: left;
  padding: 1px 10px 2px 0px;

  .throbber {
    padding-right: 7px;
  }

  .message {
    display: none;
  }
}

.commerce-order-item-add-to-cart-form {
  .field--name-quantity {
    float: left;
    width: 100px;
    margin-top: 20px !important;
    margin-right: 20px;
    label {
      margin-top: 0;
    }
  }

  .form-submit {
    margin-top: 45px;
  }
}
